@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --orange: #ff6348;
  --gray-1: #f1f2f6;
  --gray-2: #dfe4ea;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-1);
}
